.comments-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px; }
  .comments-container hr {
    padding-bottom: 0px; }
  .comments-container .alert {
    color: black !important; }
    .comments-container .alert a {
      color: black !important; }

.comments-list {
  list-style: none;
  padding-left: 0; }
  .comments-list .comment-box {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 4px;
    background-color: #fff; }
    .comments-list .comment-box:hover {
      box-shadow: 0 5px 28px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.22); }
    .comments-list .comment-box .comment-avatar {
      float: left;
      margin: 8px;
      height: 100%; }
      .comments-list .comment-box .comment-avatar img {
        width: 58px;
        height: 58px; }
    .comments-list .comment-box .comment-content {
      width: 100%;
      display: block;
      padding: 5px; }
    .comments-list .comment-box .comment-header {
      padding: 5px; }
      .comments-list .comment-box .comment-header a {
        color: green; }
        .comments-list .comment-box .comment-header a:hover, .comments-list .comment-box .comment-header a:active, .comments-list .comment-box .comment-header a:focus {
          color: pink;
          text-decoration: none; }
      .comments-list .comment-box .comment-header .fa {
        font-size: 1.3em; }
      .comments-list .comment-box .comment-header .comment-email {
        font-style: italic; }

/************* LEAVE A COMMENT BOX ****************/
.comment-view-ctrl {
  font-weight: 500 !important;
  font-size: 1.5em !important;
  margin-bottom: 30px !important;
  background-color: #e2e2e2 !important; }
  .comment-view-ctrl:hover {
    background-color: white !important; }

.widget-area {
  float: left;
  margin-top: 30px;
  position: relative;
  width: 100%;
  color: #3b3a36 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .widget-area:hover {
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.22); }
  .widget-area h3 {
    padding: 5px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    color: #3b3a36;
    text-align: center;
    font-size: 2.5em; }
  .widget-area label.direction {
    padding: 10px;
    width: 100%;
    margin-left: 10px;
    color: black;
    font-weight: 500; }
  .widget-area #leaveCommentLabel {
    padding-bottom: 1px !important;
    text-align: center; }
  .widget-area .form-group {
    margin-left: 40px; }
  .widget-area .status-upload {
    background-color: #f9f9f9;
    float: left;
    width: 100%;
    padding: 10px; }
  .widget-area .status-upload form {
    float: left;
    width: 100%; }
  .widget-area .status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: black !important;
    float: left;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2; }
  .widget-area .status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto; }
  .widget-area .status-upload ul > li {
    float: left; }
  .widget-area .status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer; }
  .widget-area .status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff; }
  .widget-area .status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px; }
  .widget-area .dropdown > a > span.green:before {
    border-left-color: #2dcb73; }
  .widget-area .status-upload form button > i {
    margin-right: 7px; }

.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block; }

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px; }

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px; }

.custom-alert {
  padding: 15px !important;
  color: black !important; }
