html, body {
  background-color: white; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
[ui-view] {
  height: 65px; }

.ui-view-container {
  position: relative;
  font-family: 'Lato', sans-serif; }

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0); }

.divide-nav {
  height: 50px;
  background-color: #428bca; }

.divide-text {
  color: #fff;
  line-height: 20px;
  font-size: 20px;
  padding: 15px 0; }

/************************** GENERAL *********************/
.affix {
  top: 50px;
  width: 100%; }

.filler {
  min-height: 2000px; }

.color-black {
  color: black !important; }

.color-grey {
  color: #A9A9A9 !important; }

.btn.btn-primary {
  background-color: #02B875 !important;
  color: white !important; }
  .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background-color: #b81d02 !important;
    color: white !important; }

.margin-center {
  margin: 0 auto; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.form-group {
  margin-bottom: 0px !important;
  margin: 0 !important;
  padding-bottom: 15px !important; }
  .form-group .help-block {
    margin: 0px !important; }

.ng-animate.no-animate {
  transition: 0s none;
  -webkit-transition: 0s none;
  animation: 0s none;
  -webkit-animation: 0s none; }

header .container {
  width: 80%; }

@media screen and (max-width: 768px) {
  header .container {
    width: 100% !important; } }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+, IE10 */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(0%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease;
  /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */ }
  img:hover {
    filter: none;
    -webkit-filter: grayscale(100%); }

/************************** TOP BAR *********************/
.navbar {
  margin-bottom: 0 !important; }

.navbar-form, .navbar-collapse {
  padding-left: 0; }

.nav-bar-style {
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  padding-top: 4px !important;
  background-color: white !important; }

.top-bar {
  min-height: 65px; }

#brandLogo {
  max-width: 40px;
  max-height: 40px;
  display: inline !important; }
  #brandLogo ~ span {
    display: inline !important; }

.site-title {
  display: inline;
  vertical-align: middle;
  font-family: 'Poiret One', cursive; }

.navbar-brand {
  padding-left: 10px;
  margin-left: 0px !important; }

.navbar-right {
  color: #A9A9A9 !important; }
  .navbar-right li:hover {
    color: black; }

.top-container {
  padding-left: 12%;
  padding-right: 12%; }

@media screen and (max-width: 992px) {
  .top-container {
    padding-left: 0%;
    padding-right: 0%; } }

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    padding: 10px !important;
    overflow-x: hidden; } }

@media screen and (max-width: 768px) {
  #themesBar {
    display: none; } }

#site_title:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  visibility: hidden;
  background-color: #009688;
  -webkit-transition: all .1s ease;
  transition: all 0.3s ease;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

#site_title:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

input {
  outline: none; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; }

input[type=search] {
  background: #fafafa url("../img/search-icon.png") no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 9em;
  -moz-border-radius: 9em;
  border-radius: 9em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  margin-top: 4px; }

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }

input:-moz-placeholder {
  color: #999; }

input::-webkit-input-placeholder {
  color: #999; }

#searchBar input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer; }

#searchBar input[type=search]:hover {
  background-color: #fff; }

#searchBar input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto; }

#searchBar input:-moz-placeholder {
  color: transparent; }

#searchBar input::-webkit-input-placeholder {
  color: transparent; }

.searchButtonLi {
  padding: 5px; }

@media screen and (max-width: 768px) {
  .searchButtonLi {
    padding-left: 15px; } }

/************************** THEMES BAR *********************/
.themes-bar {
  min-height: 40px !important;
  max-height: 40px !important; }
  .themes-bar li a {
    padding: 0px 15px !important;
    margin: 0 !important;
    margin-top: 6px !important;
    color: #A9A9A9 !important; }
    .themes-bar li a:hover {
      color: #808080 !important; }

/************************** PARALLAX *********************/
#homepageParallax {
  background-image: url("../img/articles/bicycle.jpg"); }

.parallax {
  height: 430px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  background-position: 80% 100%; }

@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: scroll; }
  #homepageParallax {
    background-image: url("../img/articles/bicycle-md.jpg"); } }

.parallax-no-padding {
  width: 100%;
  background-position: 50% 30%;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.parallax-text-container-1 .parallax-text-item {
  padding: 120px 0px;
  text-align: center; }

.parallax-mobile {
  background-position: 50% 0px !important;
  background-attachment: scroll !important; }

hgroup {
  border: 0px solid black;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 2em;
  line-height: 40px;
  color: #F8F8FF;
  text-align: center; }

.inset-shadow {
  -moz-box-shadow: inset  0  8px 8px -8px #696868,  inset  0 -8px 8px -8px #696868;
  -webkit-box-shadow: inset  0  8px 8px -8px #696868,  inset  0 -8px 8px -8px #696868;
  box-shadow: inset  0  8px 8px -8px #696868,  inset  0 -8px 8px -8px #696868; }

.inner-content {
  position: relative;
  top: 170px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; }
  .inner-content button {
    display: block;
    margin: 10px auto;
    text-align: center;
    left: 0; }

/************************** RETURN TO TOP ****************/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #return-to-top:hover {
    background: rgba(0, 0, 0, 0.9); }
    #return-to-top:hover i {
      color: #fff;
      top: 5px; }
