<p class="formatted-p">Lorem ipsum dolor sit amet, impedit vulputate cu vel. Tota adversarium quo cu, ei sea velit vitae antiopam. Vis explicari disputando id. Cu qui vidisse evertitur delicatissimi, at graeco theophrastus eos. Hinc tincidunt adolescens nec ut, per suas noluisse no, in nisl fuisset vix.
</p>
<p>
    Minim phaedrum ad pri, te quo porro commune, timeam nusquam in sit. Per assum iusto eloquentiam ex, pri consulatu expetendis in. Usu et porro sententiae. Etiam propriae sed cu. Propriae recusabo principes an qui, cum ad case altera. Ei nam quod summo congue, est mentitum repudiare te.
</p>
<p>
    Esse aliquando quo ei. Epicuri efficiendi pri id. Nam nisl rebum moderatius ne, vis et stet consequat scribentur. Quando quodsi ex usu, eam an vitae denique, id malis torquatos temporibus sea. Mucius antiopam et cum, ei graece verear aliquip eos, vis cu probo dicant. Pri cu inani inermis vivendo, duo in elitr definitionem.
</p>
<p>
    No nostro periculis corrumpit cum, meis efficiantur has no. Te errem ubique nam, porro recusabo comprehensam est in. Has harum tempor nonumes et, choro iudico in his. Sed choro dolorum copiosae id. Saepe atomorum vis ea, nominati gubergren persecuti ne pro. Nihil aliquam dissentiet ea duo. Autem appareat honestatis has cu, quas paulo viderer usu cu.
</p>

<figure class="article-details-figure">
  <picture>
    <source class="img-responsive full-article-img" srcset="img/articles/old-man-sm.jpg" media="(max-width: 300px)" title="{{article.intro}}" />
    <source class="img-responsive full-article-img" srcset="img/articles/old-man-md.jpg" media="(max-width: 500px)" title="{{article.intro}}" />
    <source class="img-responsive full-article-img" srcset="img/articles/old-man-lg.jpg" media="(max-width: 700px)" title="{{article.intro}}" />
    <img class="img-responsive full-article-img" src="img/articles/old-man.jpg" />
  </picture>
  <figcaption><i>Figure 1.</i> Propriae recusabo principes an qui, cum ad case altera.</figcaption>
</figure>
<p>
    Te usu elitr accumsan, ignota latine apeirian sea eu. An volutpat similique est, sed possit feugiat ne. Ex ius autem posidonium. Vix ea perpetua intellegam, cum elit omnium ea, duo cu nisl case. Cum ex quas doctus, invidunt volutpat quo et.
</p>
<p>
    Ei mel vitae labores ponderum, eu nec etiam audire. Ius ei rebum choro, viris solet vim id, alii simul altera in eam. Quo legere blandit phaedrum no. Ei nam duis adhuc doming. Ex eam utamur persius, qui animal efficiantur ad. Molestiae deseruisse intellegam at mea, quem commodo invenire cu duo.
</p>
<p>Lorem ipsum dolor sit amet, impedit vulputate cu vel. Tota adversarium quo cu, ei sea velit vitae antiopam. Vis explicari disputando id. Cu qui vidisse evertitur delicatissimi, at graeco theophrastus eos. Hinc tincidunt adolescens nec ut, per suas noluisse no, in nisl fuisset vix.
</p>
<p class="formatted-p">
    Minim phaedrum ad pri, te quo porro commune, timeam nusquam in sit. Per assum iusto eloquentiam ex, pri consulatu expetendis in. Usu et porro sententiae. Etiam propriae sed cu. Propriae recusabo principes an qui, cum ad case altera. Ei nam quod summo congue, est mentitum repudiare te.
</p>
<p>
    Esse aliquando quo ei. Epicuri efficiendi pri id. Nam nisl rebum moderatius ne, vis et stet consequat scribentur. Quando quodsi ex usu, eam an vitae denique, id malis torquatos temporibus sea. 
    Mucius antiopam et cum, ei graece verear aliquip eos, vis cu probo dicant. Pri cu inani inermis vivendo, duo in elitr definitionem.
</p>

<figure class="article-details-wrap left">
  <picture>
    <source class="img-responsive full-article-img" srcset="img/articles/athlete-md.jpg" media="(max-width: 700px)" title="{{article.intro}}" />
    <img class="img-responsive" src="img/articles/athlete.jpg" />
  </picture>

  <figcaption><i>Figure 2.</i> Propriae recusabo principes an qui, cum ad case altera.</figcaption>
</figure>

<p>
    No nostro periculis corrumpit cum, meis efficiantur has no. Te errem ubique nam, porro recusabo comprehensam est in. Has harum tempor nonumes et, choro iudico in his. Sed choro dolorum copiosae id. Saepe atomorum vis ea, nominati gubergren persecuti ne pro. Nihil aliquam dissentiet ea duo. Autem appareat honestatis has cu, quas paulo viderer usu cu.
</p>
<p>
    Te usu elitr accumsan, ignota latine apeirian sea eu. An volutpat similique est, sed possit feugiat ne. Ex ius autem posidonium. Vix ea perpetua intellegam, cum elit omnium ea, duo cu nisl case. Cum ex quas doctus, invidunt volutpat quo et.
</p>
<p>
    Ei mel vitae labores ponderum, eu nec etiam audire. Ius ei rebum choro, viris solet vim id, alii simul altera in eam. Quo legere blandit phaedrum no. Ei nam duis adhuc doming. Ex eam utamur persius, qui animal efficiantur ad. Molestiae deseruisse intellegam at mea, quem commodo invenire cu duo.
</p>
<p class="formatted-p">Lorem ipsum dolor sit amet, impedit vulputate cu vel. Tota adversarium quo cu, ei sea velit vitae antiopam. Vis explicari disputando id. Cu qui vidisse evertitur delicatissimi, at graeco theophrastus eos. Hinc tincidunt adolescens nec ut, per suas noluisse no, in nisl fuisset vix.
</p>

<p>
    Minim phaedrum ad pri, te quo porro commune, timeam nusquam in sit. Per assum iusto eloquentiam ex, pri consulatu expetendis in. Usu et porro sententiae. Etiam propriae sed cu. Propriae recusabo principes an qui, cum ad case altera. Ei nam quod summo congue, est mentitum repudiare te.
</p>
<p>
    Esse aliquando quo ei. Epicuri efficiendi pri id. Nam nisl rebum moderatius ne, vis et stet consequat scribentur. Quando quodsi ex usu, eam an vitae denique, id malis torquatos temporibus sea. Mucius antiopam et cum, ei graece verear aliquip eos, vis cu probo dicant. Pri cu inani inermis vivendo, duo in elitr definitionem.
</p>
<figure class="article-details-wrap right">
  <picture>
    <source class="img-responsive full-article-img" srcset="img/articles/beach-md.jpg" media="(max-width: 700px)" title="{{article.intro}}" />
    <img class="img-responsive" src="img/articles/beach.jpg" />
  </picture>
  <figcaption><i>Figure 3.</i> Propriae recusabo principes an qui, cum ad case altera.</figcaption>
</figure>

<p>
    No nostro periculis corrumpit cum, meis efficiantur has no. Te errem ubique nam, porro recusabo comprehensam est in. Has harum tempor nonumes et, choro iudico in his. Sed choro dolorum copiosae id. Saepe atomorum vis ea, nominati gubergren persecuti ne pro. Nihil aliquam dissentiet ea duo. Autem appareat honestatis has cu, quas paulo viderer usu cu.
</p>
<p class="formatted-p">
    Te usu elitr accumsan, ignota latine apeirian sea eu. An volutpat similique est, sed possit feugiat ne. Ex ius autem posidonium. Vix ea perpetua intellegam, cum elit omnium ea, duo cu nisl case. Cum ex quas doctus, invidunt volutpat quo et. Has harum tempor nonumes et, choro iudico in his. 
</p>
<p>
    Ei mel vitae labores ponderum, eu nec etiam audire. Ius ei rebum choro, viris solet vim id, alii simul altera in eam. Quo legere blandit phaedrum no. Ei nam duis adhuc doming. Ex eam utamur persius, qui animal efficiantur ad. Molestiae deseruisse intellegam at mea, quem commodo invenire cu duo.
</p>