
<div class="row">
    <div class="comments-container">
		<h2 in-view="$inview && getComments()">Comments</h2>

		<div uib-alert ng-hide="!alert" ng-class="'custom-alert alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}
			<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		</div>


		<button class="btn btn-lg btn-block comment-view-ctrl no-animate" ng-show="showing">
			<i class="fa fa-spinner fa-spin fa-fw"></i>&ensp;Retrieving comments..
		.</button> 

		<!--
		<button class="btn btn-lg btn-block comment-view-ctrl no-animate" ng-show="showing" ng-click="hideComments();"><i class="fa fa-minus-square-o" aria-hidden="true"></i>&ensp;Hide comments</button> -->

		<div class="comments-main">
			<ul class="comments-list">
				<!-- ngRepeat: comment in comments | orderBy: 'comment.date' --><li ng-animate="'animate'" ng-repeat="comment in comments | orderBy: 'comment.date'" class="ng-scope">
					<div class="comment-box">
						<div class="comment-avatar">
							<img src="img/articles/avatar.png" alt="Avatar for John Smith">
						</div>
						<div class="comment-content">
							<div class="comment-header">
								<a href="#" class="ng-binding">John Smith</a>
								
								<span class="comment-email ng-binding"> jsmith@gmail.com</span>

								<span class="pull-right ng-binding"> Monday Feb 06, 2017 12:10</span>
							</div>
							<div class="comment-content ng-binding">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</div>
				</li><!-- end ngRepeat: comment in comments | orderBy: 'comment.date' --><li ng-animate="'animate'" ng-repeat="comment in comments | orderBy: 'comment.date'" class="ng-scope">
					<div class="comment-box">
						<div class="comment-avatar">
							<img src="img/articles/avatar.png" alt="Avatar for Lisa Forsworth">
						</div>
						<div class="comment-content">
							<div class="comment-header">
								<a href="#" class="ng-binding">Lisa Forsworth</a>
								
								<span class="comment-email ng-binding"> lforsworth@gmail.com</span>

								<span class="pull-right ng-binding"> Thursday Jan 19, 2017 11:10</span>
							</div>
							<div class="comment-content ng-binding">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</div>
				</li><!-- end ngRepeat: comment in comments | orderBy: 'comment.date' --><li ng-animate="'animate'" ng-repeat="comment in comments | orderBy: 'comment.date'" class="ng-scope">
					<div class="comment-box">
						<div class="comment-avatar">
							<img src="img/articles/avatar.png" alt="Avatar for Igor Lavitz">
						</div>
						<div class="comment-content">
							<div class="comment-header">
								<a href="#" class="ng-binding">Igor Lavitz</a>
								
								<span class="comment-email ng-binding"> ilavtitz@gmail.com</span>

								<span class="pull-right ng-binding"> Monday Jan 02, 2017 09:11</span>
							</div>
							<div class="comment-content ng-binding">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</div>
				</li><!-- end ngRepeat: comment in comments | orderBy: 'comment.date' --><li ng-animate="'animate'" ng-repeat="comment in comments | orderBy: 'comment.date'" class="ng-scope">
					<div class="comment-box">
						<div class="comment-avatar">
							<img src="img/articles/avatar.png" alt="Avatar for Cassandra Chan">
						</div>
						<div class="comment-content">
							<div class="comment-header">
								<a href="#" class="ng-binding">Cassandra Chan</a>
								
								<span class="comment-email ng-binding"> cchan@gmail.com</span>

								<span class="pull-right ng-binding"> Thursday Dec 01, 2016 07:11</span>
							</div>
							<div class="comment-content ng-binding">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</div>
				</li><!-- end ngRepeat: comment in comments | orderBy: 'comment.date' -->
			</ul>

			<div class="widget-area no-padding blank">
				<div class="status-upload">
					<form name="commentUploadForm">
						<h3 class="form-group">Leave a comment</h3>

						<div class="col-sm-6 form-group label-placeholder is-empty">
			                <label for="firstName" class="control-label">First name</label>
			                <input class="form-control" type="text" id="fName" required ng-model="newComment.firstName" />
			            </div>
			            <div class="col-sm-6 form-group label-placeholder is-empty">
			                <label for="lastName" class="control-label">Last name</label>
			                <input class="form-control" type="text" id="lName" required ng-model="newComment.lastName" />
			            </div>
			            <div class="col-sm-12 form-group label-placeholder is-empty">
			                <label for="email" class="control-label">E-mail address</label>
			                <input class="form-control" type="email" name='email' id="email" required ng-model="newComment.email" />
			            </div>
			            <div class="col-sm-12 form-group comment-footer">
				            <label class="form-group" id="leaveCommentLabel">Comment:</label>
							<textarea id="comment_body" type="text" placeholder="Pri cu inani inermis vivendo, duo in elitr definitionem." ng-keyup="checkWordLen(this);" name="commentBody" required ng-model="newComment.comment"></textarea>

							<div class="bottom">
								<span style="vertical-align: middle;">
									{{wordsLeft}} words remaining.
								</span>
								<button type="submit" class="btn btn-success green" ng-click="uploadNewComment()" ng-disabled="commentUploadForm.$invalid || wordsLeft > 120"><i class="fa fa-share"></i> submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
