<footer class="footer-distributed card-1" ng-controller="appController">
<div class="container">

  <div class="footer-left">

    <div class="row">
      <a id="logoFooter" href="#">
          <span>
            <img src="img/logo.svg" alt="" id="brandLogo"><span>&ensp;<h1 class="site-title">PUBAPP</h1>
          </span>
      </a>
    </div>

    <p class="footer-links">
      <a ui-sref="home">Home</a>
      ·
      <a ui-sref="register">Sign up</a>
      ·
      <a ui-sref="login">Log in</a>
    </p>

    <p class="footer-company-name">{{SITE_TITLE}}, All Rights Reserved {{YEAR}}</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker" style="color: #F16194;"></i>
      <p><span>123 Evercrest Lane</span> City, Country</p>
    </div>

    <div>
      <i class="fa fa-phone" style="color: #BD61F1;"></i>
      <p>+0 123 456789</p>
    </div>

    <div>
      <i class="fa fa-envelope" style="color: #61F1AB;"></i>
      <p><a href="mailto:support@{{SITE_TITLE | lowercase}}.com">support@{{SITE_TITLE | lowercase}}.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About us</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#" ><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</div>
</footer>