<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="favicon.ico" />

  <title update-title></title>

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Lato|Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Bootstrap theme -->
  <link href="lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
  <!-- Angular CSP-->
  <link href="lib/angular/css/angular-csp.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css?v=1" rel="stylesheet" />
  <link href="css/body.css?v=2" rel="stylesheet" />
  <link href="css/footer.css?v=3" rel="stylesheet" />
  <link href="css/comments.css?v=3" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
  <![endif]-->

  <!-- jquery -->
  <script src="lib/jquery/js/jquery.min.js"></script>

  <!-- require -->
  <script src="lib/require/require.js"></script>

  <!-- angularjs -->
  <script src="lib/angular/js/angular.js"></script>
  <script src="lib/angular/js/angular-animate.js"></script>
  <script src="lib/angular/js/angular-ui-router.js"></script>
  <script src="lib/angular/js/angular-ui-bootstrap-tpls.js"></script>
  <script src="lib/angular-scroll/js/angular-scroll.min.js""></script>

  <!-- bootstrap material design -->
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-material-design/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-material-design/css/ripples.min.css">
  
  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/app-constants.js"></script>
  <script src="js/app-article-list.js"></script>
  <script src="js/app-article-details.js"></script>
  <script src="js/app-accounts.js"></script>
  <script src="js/nav-controller.js"></script>
  <script src="js/angular-inview.js"></script>
</head>

<body>

<!-- START NAVIGATION BAR -->
<ng-include src="'views/partials/navbar.html'" ng-controller="navController"></ng-include>
<!-- END NAVIGATION BAR -->

<div class="ui-view-container" ng-controller="appController">
  <div class="parallax_container">
  <!-- image is open source, available at: https://pixabay.com/en/typewriter-book-notebook-paper-801921/ -->
  <div class="parallax inset-shadow" id="homepageParallax">   
    <div class="col-sm-12 col-md-12 col-lg-12 full-height">
      <div class="inner-content">
        <hgroup>
          Praesent volutpat viverra condimentum maecenas.
          <button class="btn btn-primary" title="Get started">Get started</button>
        </hgroup>
      </div>
    </div>
  </div>
</div>

<div class="container main-content ng-scope">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <!-- ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">7</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        15:58pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">3</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">1</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">0</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">8</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">3</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">6</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">2</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">10</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles --><div class="panel panel-default article-pod ng-scope" ng-repeat="article in articles">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="">
                </a>
                <div class="article-title">
                    <a href="#" class="ng-binding">Rebecca Manning</a>
                    <br>
                    <div class="date_details ng-binding">
                        Sunday Feb 05, 2017<br>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="article-picture">
                    <a ui-sref="article_details" href="#/article_details">
                        <picture>
                            <source class="grayscale" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="Nulla suscipit eu enim quis dignissim">
                            <source class="grayscale" srcset="img/articles/ducks_md.jpg" media="(max-width: 700px)" title="Nulla suscipit eu enim quis dignissim">
                            <img class="grayscale" src="img/articles/ducks.jpg">
                        </picture>
                    </a>
                </div>
                <div class="article-intro">
                    <a href="#/article_details" ui-sref="article_details" class="ng-binding">Nulla suscipit eu enim quis dignissim</a>
                </div>
                <div class="article-read-more">
                    <a ui-sref="article_details" href="#/article_details">read more...</a>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary" title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <!-- ngIf: article.thumbsUp -->
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment"> 
                            </span> <span class="badge ng-binding">2</span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end ngRepeat: article in articles -->

        <!-- START PAGINATION -->
        <div class="center">
          <ul class="pagination">
            <li><a href="#">«</a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
        <!-- END PAGINATION -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Mucius antiopam antiatum</h4> 
            </div>
        <div class="panel-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque turpis eget porta tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris lacinia turpis aliquam, tempus risus vitae, euismod metus. Ut eu eros urna. Phasellus feugiat tincidunt nisi at varius. In quis diam dapibus, vehicula lacus nec, facilisis ex. Fusce venenatis magna sit amet leo efficitur sagittis. In tincidunt posuere tempor.
            </p>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque turpis eget porta tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris lacinia turpis aliquam, tempus risus vitae, euismod metus. Ut eu eros urna. Phasellus feugiat tincidunt nisi at varius. In quis diam dapibus, vehicula lacus nec, facilisis ex. Fusce venenatis magna sit amet leo efficitur sagittis. In tincidunt posuere tempor.
            </p>
        </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 sidebar">
        <div class="panel panel-default">
            <div class="panel-body social-sidebar affix-top" data-spy="affix" data-offset-top="970">
                <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-github"></i></a></li>

                </ul>
            </div>
        </div>
    </div>

    <hr>

</div>


<!-- START FOOTER -->
<ng-include src="'views/partials/footer.html'"></ng-include>
<!-- END FOOTER -->
  <a href="" id="return-to-top" ng-click="scrollToCustomPos(0);" du-smooth-scroll>
    <i class="fa fa-chevron-up"></i>
  </a>

</div>


<div class="placeholder">
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="lib/assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- bootstrap material design -->
<script src="lib/bootstrap-material-design/js/material.min.js"></script>
<script src="lib/bootstrap-material-design/js/ripples.min.js""></script>

<script>
  $(function() {
    $.material.init();
  });
</script>

</body>
</html>
