<div class="container">
<div class="col-xs-12 col-md-10 col-md-offset-1">
	<div class="row">
		<div class="article-pod article-details">
            <div class="article-top">
                <a href="#">
                    <img src="img/articles/authors/author.jpg" alt="" />
                </a>
                <div class="article-title">
                    <a href="#">Rebecca Manning</a>
                    <br/>
                    <div class="date_details">
                        Sunday Feb 05, 2017
                        <br/>
                        12:10pm
                    </div>
                </div>
            </div>
            <div class="panel-body">
            	<div class="article-intro">
                    {{article.intro}}
                </div>
                <div class="article-picture">
                    <picture>
                        <source class="full-article-img" srcset="img/articles/ducks_sm.jpg" media="(max-width: 300px)" title="{{article.intro}}"/>
                        <source class="full-article-img" srcset="img/articles/ducks_md.jpg" media="(max-width: 500px)" title="{{article.intro}}"/>
                        <source class="full-article-img" srcset="img/articles/ducks_lg.jpg" media="(max-width: 500px)" title="{{article.intro}}"/>
                        <img class="full-article-img" src="img/articles/ducks.jpg" />
                    </picture>
                </div>
                <div class="article-footer">
                    <div class="article-likes">
                        <button type="button" class="btn btn-primary"  title="I like this!" ng-click="toggleLikeArticle(article);" ng-class="{'selected': article.thumbsUp != null}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                  
                        </button>
                        <span class="label label-default" ng-if="article.thumbsUp">You liked this</span>
                    </div>
                    <div class="article-font-select">
                        <p class="font-size-label">Font size:</p>
                        <p id="font-size"></p>
                        <button class="btn btn-md" id="down" ng-click="decrementFont()">-</button>
                        <button class="btn btn-md" id="up" ng-click="incrementFont()">+</button>
                    </div>
                    <div class="article-comments">
                        <button type="button" class="btn btn-primary" title="Number of comments" ng-click="getArticleDetails(article);">
                            <span class="glyphicon glyphicon-comment">&ensp;
                            </span> <span class="badge">{{article.num_comments}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- START ARTICLE CONTENT -->
            <div class="article-main-content" style="font-size: {{fontSize}}px;">
            	<ng-include src="'views/partials/article_content.html'"></ng-include>
            </div>
            <!-- END ARTICLE CONTENT -->

            <div class="" style="margin-top: 40px;">
                Sunday Feb 05, 2017 12:10pm
            </div>
		</div>
	</div>

    <hr>

    <div class="placeholder">
    </div>

	<!-- START COMMENTS -->
    <ng-include src="'views/partials/comments.html'"></ng-include>
	<!-- END COMMENTS -->
</div>
</div>

<!-- START FOOTER -->
<ng-include src="'views/partials/footer.html'"></ng-include>
<!-- END FOOTER -->