<div class="container account-wrapper register-wrapper">
  <div class="row">
    <div class="absolute-center">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
        <form action="" class="account-form">
          	<h2 class="text-center">register</h2>

          	<div class="form-group label-placeholder is-empty">
                <label for="fName" class="control-label">First name</label>
                <input class="form-control" type="text" id="fName" autofocus />
            </div>
            <div class="form-group label-placeholder is-empty">
                <label for="lName" class="control-label">Last name</label>
                <input class="form-control" type="text" name='last_name' id="lName" />
            </div>
            <div class="form-group label-placeholder is-empty">
                <label for="email" class="control-label">E-mail address</label>
                <input class="form-control" type="email" name='email' id="email" />
            </div>
            <div class="form-group label-placeholder is-empty">
                <label for="passswordOne" class="control-label">Password</label>
                <input class="form-control" type="text" name='password1' id="passswordOne" />
                <span class="help-block">Your password must be 6 characters or longer</code></span>
            </div>
            <div class="form-group label-placeholder is-empty">
                <label for="passswordTwo" class="control-label">Confirm Password</label>
                <input class="form-control" type="text" name='password1' id="passswordTwo" />
                <span class="help-block">This password must match the one above</code></span>
            </div>

			<div class="margin-center" style="padding: 10px;">
				<input type="checkbox"> I agree to the <a href="#">Terms and Conditions</a>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary btn-block">Register</button>
			</div>
			<div class="form-group text-center">
				<a ui-sref="login">Login</a>&nbsp;|&nbsp;<a href="#">Support</a>
           	</div>
        </form>        
      </div>  
    </div>    
  </div>
</div>